# Игнорируем скомпилированные .class файлы
*.class

# Игнорируем папки, созданные IDE (например, для IntelliJ IDEA)
.idea/
*.iml

# Игнорируем папку сборки (например, для Maven или Gradle)
target/
build/

# Игнорируем системные файлы
.DS_Store
Thumbs.db